/*

Kirby Starterkit

Author: Bastian Allgeier / Sascha Lack
URL:    http://getkirby.com
Email:  support@getkirby.com

*/


/* Source Sans Pro
-------------------------------------------------- */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/sourcesanspro-300.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/sourcesanspro-600.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/sourcesanspro-400-italic.woff) format('woff');
}


/* Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Site
-------------------------------------------------- */
html {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  height: 100%;
  background-color: #efefef;
}
h2 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 2px;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0px !important;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
}
.smt {
  margin-top: 25px;
}
.mt {
  margin-top: 50px;
}
.bmt {
  margin-top: 75px;
}
.pt {
  padding-top: 50px;
}
.right {
  float: right;
}

/* Homepage */
video#bgvid { 
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(../images/video_snap.png) no-repeat;
  background-size: cover; 
}
#cover {
  position: relative;
}
#cover-text {
  position: absolute;
  top: 0px;
  margin-top: 160px; 
  /* background-color: rgba(255,255,255,0.8); */
  color: white;
}
#cover-text h1 {
  font-size: 4em;
}
#cover-text p {
  font-size: 2em;
}
.overlay {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQYV2NkYGD4z8DAwMgABXAGNgGwSgwVAFbmAgXQdISfAAAAAElFTkSuQmCC);
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}
.number {
  font-size: 100px;
  font-weight: 300;
}

.container img, .container-fluid img {
  max-width: 100%;
}
.container iframe, .container-fluid iframe {
  max-width: 100%;
}

.home-icons {
  width: 100%;
}
.home-icons td {
  text-align: center;
}
.home-icons .topic-icon {
  color: black;
  font-size: 32px;
}
.jumbotron {
  background-color: #bdc3c7;
}

/* Navbar */

.navbar-btn {
  margin-right: 0px;
}
#selectFilter {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* CSS de la carte */

.pad {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  border-radius: 12px;
  margin-top: 10px;
  position: relative;
  background-color: white;
  padding-bottom: 15px;
}
.card-top {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 230px;
  position: relative;
}
.card-top h2, .center {
  text-align: center;
}
.card-top em {
  opacity: 0.6;
}
.research {
  background-color: #8e44ad;
}
.create {
  background-color: #f1c40f;
}
.explore {
  background-color: #d35400;
}
.experiment {
  background-color: #c0392b;
}
.evaluate {
  background-color: #d24e80;
}
.capacity {
  background-color: #3498db;
}
.icons {
  width: 100%;
}
.icons td {
  text-align: center;
}
.icons .fa {
  font-size: 22px;
}
.topic-icon {
  opacity: 0.5;
  color: white;
}
.selected {
  opacity: 1;
  color: black;
}
.faded {
  background-color: rgba(255,255,255,0.5);
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.faded>h3 {
  color: black !important;
}
.card-bottom {
  padding: 15px;
  padding-bottom: 25px;
}
.card-meta {
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  bottom: 15px;
  right: 0px;
}
.col-sm-4,.col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
}
.row {
  padding-left: 15px;
  padding-right: 15px;
}
.card-meta .round {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  display: inline-block;
  padding-top: 4px;
}
.cv {
  background-color: #3FC380;
}
.pv {
  background-color: #00B16A;
}
.rv {
  background-color: #16A085;
}
.hidden {
  display: none;
}

/* reste du site */

#footer {
  padding: 15px; 
  margin-top: 40px;
  border-top: solid 1px grey;
}
